---
import { getCollection, CollectionEntry } from 'astro:content';
import dayjs from 'dayjs';
import 'dayjs/locale/de';
import path from 'path';
import process from 'process';
dayjs.locale('de');
const posts = await getCollection('news');
posts.reverse();
const file: string = Astro.props.file;

import Page from '@/layouts/Page.astro';

function resolveHeroImagePath(entry: CollectionEntry<'news'>) {
	if (!entry.data.heroImage) {
		return;
	}

	const file = entry.id;

	// get directory path of file
	const dir = file.substring(0, file.lastIndexOf('/'));

	let heroImagePath = entry.data.heroImage.src;

	if (!heroImagePath.startsWith('@')) {
		heroImagePath = path.resolve(process.cwd() + '/src/content/news/' + dir + '/' + heroImagePath);
	} else {
		heroImagePath = path.resolve(process.cwd() + '/src' + heroImagePath.substring(1));
	}

	console.log(heroImagePath);

	return heroImagePath;
}
---

<Page title="Aktuelles">
	{
		posts.map((entry) => (
			<div>
				<div class="my-5">
					<p class="text-sm text-gray-500">{dayjs(entry.data.publishedAt).format('DD. MMMM YYYY')}</p>
					<a href={'/de/news/' + entry.slug} class="font-heading block mb-3 text-3xl cursor-poitner text-impf hover:text-impfhover">
						{entry.data.title}
					</a>
					<p>{entry.body.replace(/^(\n)?\s{0,}#{1,6}\s+| {0,}(\n)?\s{0,}#{0,} #{0,}(\n)?\s{0,}$/gm, '$1$2$3').substring(0, 800)}</p>
					<a href={'/de/news/' + entry.slug} class="text-blue-500 hover:text-blue-700">
						Weiterlesen &raquo;
					</a>
				</div>

				<hr />
			</div>
		))
	}
</Page>
