---
export interface Props {
	rounded?: boolean;
}

const { rounded = true } = Astro.props as Props;
---

<div class="w-full absolute top-0">
	<div class={'container mx-auto bg-white px-5 shadow-md' + (rounded ? ' md:rounded-b-md' : '')} style="z-index: 1000;">
		<nav class="md:flex gap-5 items-center">
			<a href="/" class="flex-start py-2 mr-2">
				<img src="/logo-quer-rgb.svg" alt="Impf Dich Logo" width="240" />
			</a>
			<a href="/de/verein">Verein</a>

			<a href="/">Lokalgruppen</a>
			<a href="/">Projekte</a>
			<a href="/">Wissen</a>

			<div class="ml-auto">
				<a href="/de/meta/unterstuetzen" class="rounded bg-impf hover:bg-sky-600 text-white py-2 px-4 flex gap-2 items-center cursor-pointer">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
						<path
							d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"
						></path>
					</svg>

					Unterstützen
				</a>
			</div>
		</nav>
	</div>
</div>
