---
import Navbar from '@/components/Navbar.astro';
import Layout from './Layout.astro';
import Footer from '@/components/Footer.astro';
import { Img } from 'astro-imagetools/components';

const { content } = Astro.props;

let heroImagePath = null;

if (content.heroImage) {
	const file: string = Astro.props.file;
	// get directory path of file
	const dir = file.substring(0, file.lastIndexOf('/'));

	heroImagePath = dir + '/' + content.heroImage;
}

const { title } = Astro.props.frontmatter || Astro.props;
---

<Layout title={title}>
	<Navbar rounded={heroImagePath ? true : false} />

	{
		heroImagePath && (
			<div class="bg-gray-700" style=" z-index: -100;">
				<div class="container mx-auto flex justify-center" style="padding-top: 75px;">
					<Img alt="bla" src={heroImagePath} />
				</div>
			</div>
		)
	}

	<div class="container mx-auto border-x-2 border-gray-200">
		<div class="px-5 py-6 bg-gray-100" style={!heroImagePath ? 'margin-top: 80px;' : ''}>
			<h1 class="text-4xl heading">{content.title}</h1>
		</div>

		<div class="p-5 bg-white">
			<article class="content"><slot /></article>
		</div>
	</div>

	<Footer />
</Layout>
